<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzw.microboot.mapper.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wzw.microboot.entity.User" id="UserMap">

        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="passWord" property="passWord" jdbcType="VARCHAR" />
        <result column="userType" property="userType" jdbcType="INTEGER" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="userEmail" property="userEmail" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="serCreateTime" property="serCreateTime" jdbcType="DATE" />
        <result column="userDetails" property="userDetails" jdbcType="VARCHAR" />

    </resultMap>


    <select id="selectAll"  resultMap="UserMap">
        select * from user
    </select>


</mapper>